body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image:url(./Chromosomes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #add8e636;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

video {
    width: 50%;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
}

h3 {
    color: #9b1515;
    font-weight: bolder;
    margin-bottom: 5px;
}

div {
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}